@using Organization_Management_Application.UI.Dtos.EmployeeDtos
@model ResultEmployeeDto

@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/css/form.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    .container {
        position: relative; /* veya absolute */
        z-index: 1; /* Diğer elementlerin altında kalmaması için */
    }
</style>

<br />
<div class="container">
    <form id="EmployeeForm" onsubmit="updateEmployee(event)" method="post">
        <div class="form-group">
            <label>İsim</label>
            <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
            <input type="text" class="form-control" name="FirstName" value="@Model.FirstName" required />
            <label>Soyisim</label>
            <input type="text" class="form-control" name="LastName" value="@Model.LastName" required />
            <label>Sicil No</label>
            <input type="text" class="form-control" name="EmployeeNumber" value="@Model.EmployeeNumber" required />
        </div>
        <div class="form-group">
            <label>Bağlı olunan organizasyon</label>
            <select class="form-control" name="OrganizationId" required>
                @foreach (var organization in ViewBag.Organizations)
                {
                    <option value="@organization.Value"
                    @(organization.Value == Model.OrganizationId.ToString() ? "selected" : "")>
                        @organization.Text
                    </option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>

<script>
    function updateEmployee(event) {
        event.preventDefault();

        var formData = new FormData($("#EmployeeForm")[0]);

        $.ajax({
            url: "/Employee/UpdateEmployee",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    swal({
                        title: "İşlem Başarılı !",
                        text: "Değişiklikler için sayfayı yenileniyor !",
                        icon: "success",
                        button: "Tamam",
                    }).then(() => {

                        window.location.href = "/Employee/Index";
                    });
                }
                else {
                    swal({
                        title: "İşlem Başarısız",
                        text:"Görevli Güncelleme başarısız! ",
                        icon: "error",
                        button: "tamam",
                    });
                }
            }
        });
    }
</script>